<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Baby Show Planner</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersPlanner">Planner</a></li>
      <li></li>
    </ol>
    <form role="form">
      <div class="form-group">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
      </div>
      <div class="form-group">
        <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
        <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
      </div>
      <button type="button" id="submit" name="submit" class="btn btn-primary">Submit Form</button>
    </form>
    <p>&nbsp;</p>
  </div>
</div>
