<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>10 Pregnancy Exercise Guidelines</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersBlog">Blog</a></li>
      <li></li>
    </ol>
    <p>
      <strong>1. Take It Easy</strong><br> Start slow and never over-exert yourself. Never exercise to the point of breathlessness
      as this is a sign that you and your baby-in-womb are not getting the oxygen needed.<br>
      <br>
      <strong>2. Dress Right</strong><br> Wear comfortable and sensible footwear that provides strong ankle and arch support.
      Avoid rocky terrain or unstable ground. The pregnancy hormone, Relaxin, relaxes your body’s muscles, joints, and ligaments,
      making you more prone to injuries like ankle sprains.<br>
      <br>
      <strong>3. Pace Yourself</strong><br> Take frequent breaks, keep hydrated and avoid exercising in hot weather. Excessive
      water loss may aggravate the pregnancy headaches you are experiencing.<br>
      <br>
      <strong>4. Know Your Limits</strong><br> Avoid contact sports and vigorous high-impact workouts. The sudden changes
      in posture may increase the risk of the placenta detaching from the uterus wall.<br>
      <br>
      <strong>5. Get into the Right Position</strong><br> As your belly gets bigger in the second and final trimesters, avoid
      exercises that require you to lie flat on your back as this might decrease the blood flow to your uterus.<br>
      <br>
      <strong>6. Exercise with Caution</strong><br> Be mindful of a shifted centre of gravity from your bulging belly. Your
      walk might start to be a little wobbly. Hold on to the railings if you stair-climb.<br>
      <br>
      <strong>7. Be Sure to Warm Up and Cool Down</strong><br> Include warm-up and cool-down stretches to reduce cramps and
      muscle aches.<br>
      <br>
      <strong>8. Stop if Something Isn’t Right</strong><br> Stop exercising immediately if there are signs of pain, spotting,
      light-headedness and/or nausea. Talk to your healthcare provider and let him advise on whether you should continue
      with an exercise programme.<br>
      <br>
      <strong>9. Stay Protected</strong><br> In view of the threat of dengue and the Zika virus, avoid exercising outdoors
      without insect repellent.<br>
      <br>
      <strong>10. Watch Your Weight</strong><br> Do not exercise to lose weight during pregnancy. The weight gain is essential
      for growing a healthy baby and much of it can be attributed to the amniotic sac and your baby’s weight.</p>
    <p>&nbsp;</p>
  </div>
</div>
