<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>How to Handle Pets when Pregnant</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersBlog">Blog</a></li>
      <li></li>
    </ol>
    <p>
      Have a little furry friend at home? Now that you’re expecting, it’s important that you be really careful when handling them.
      As a good practice, keep good personal hand hygiene. Always wash your hands with soap before and after handling pets
      and food. Avoid cleaning your pet’s habitat and discuss with your family on how to re-organise its sleeping arrangements
      if it is currently co-sleeping with you.<br>
      <br> Take these steps to further help keep yourself safe during pregnancy:</p>
    <p>&nbsp;</p>
  </div>
</div>
