<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Family Actually</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersBlog">Blog</a></li>
      <li></li>
    </ol>
    <p>
      “I love being a mother,” reveals Violet Lim, the accomplished 35-year-old Lunch Actually Group co-founder and proud mother
      of two, to Motherhood. “When I just sit down and watch my children play or sleep, I am just filled with this sense
      of pride and contentment.”<br>
      <br> The busy lady — who is also the CEO of LunchClick and who has also authored a bestselling book about dating —
      readily confesses that she does not draw a line between work and life with her life and business partner, Jamie Lee.<br>
      <br> From spending most of their waking hours together — “We usually come to work together unless one of us has other
      meetings, and we go home together; when we do not have any business lunches, we usually have lunch together as well”
      — to etching out work and family goals interchangeably, she sees no need to separate the two worlds of work and family
      unnecessarily.<br>
      <br> “When we wind down at home after a long day of work… we could be discussing the day’s work or planning for the
      work week ahead. When we are at work, we could be planning for the upcoming family holiday or discussing the children’s
      (the couple has two children, Corum and Cara, aged nine and six) education.”<br>
      <br> Call it a lack of boundaries if you like, but Violet wouldn’t have it any other way. “I strongly believe that
      if a husband and a wife have an opportunity to build a business together and they could somehow find a way to work
      with each other and do not end up killing each other, that would be the best and most ideal working arrangement. There
      will not be another person in the world who would be as aligned to your life and business goals as your spouse, provided
      you chose the right person to spend the rest of your life with.”<br>
      <br>
      <strong>How it All Started</strong><br> For the law graduate and master’s holder in human resources, Violet recalls
      how she first hit upon the idea of Lunch Actually while working alongside many bankers who were attractive and eligible
      — but single — in her time as a management associate in Citigroup. &nbsp;<br>
      <br> “I realised that the ones who are getting married or engaged met their other half at school or at university…
      if you ‘miss the opportunity’ at school or at university, it becomes increasingly difficult to meet the right one,”
      she says.<br>
      <br> Around that time, with the lunch dating phenomenon taking off in the UK, US, and Australia, Violet spied a golden
      opportunity to import the novel dating concept into Singapore, together with her then fiancé Jamie Lee, in 2004. Today,
      the company has expanded beyond Singapore to enter the markets of Kuala Lumpur, Hong Kong, Penang, Jakarta, and Bangkok.
      Violet plans to continue expanding the business within South East Asia in the next one or two years, as well as exploring
      relevant verticals.<br>
      <br> “We started the business in 2004, got married in 2005 and had our first child Corum in 2006. So it was really
      one after the other, and I did not really have much time to think through each of the steps I was taking in life,”
      says Violet, adding that after giving birth to Corum, she took just one month of maternity leave and then got back
      to work right after.<br>
      <br> “Being an entrepreneur, I am very blessed to have time flexibility. So I would just work shorter hours if needed,
      or I could pop home during lunch time to check on my newborn baby. I have also been very blessed to have an extremely
      supportive and hands-on husband who helps with feeding, bathing, changing diapers and even night duties. That really
      helps me to ease into my new role as a mother while at the same time driving the business.”<br>
      <br> Working as a Team<br> The idea of complicating love with business at the time never crossed Violet’s mind as the
      two have complementing strengths (“Often, he leaves the inspirational and motivational parts of the business to me,
      while I leave him to look at the details and crunch the numbers”).<br>
      <br> “Friends have often asked, ‘How do you work with your husband? Do you ever have disagreements?’ Yes, we do have
      many disagreements,” says Violet, divulging that they often argue to get their views heard. “New colleagues would usually
      be stunned and not know how to react when it happens.<br>
      <br> Associates who have been working with us would just sit back, relax and let us ‘fight it out’. The good thing
      about Jamie and I is that once we get our points across, we would calm down and take a step back. We would then reassess
      whose idea makes more sense for the business.”<br>
      <br> For women who seek to be everything at the same time, Violet has a word of advice: don’t. “I remember asking my
      mentor, ‘Can a woman have it all?’ She said, “Of course, just not all at the same time!” Such a wise response. The
      problem with our generation is that we seek perfection in all that we do: the perfect wife, the perfect mother, the
      perfect employer or employee. With 24 hours a day, that is probably not possible. Anybody who attempts it would just
      drive herself and everybody around her up the wall.”<br>
      <br> Her secret to this “struggle for work-life balance” is simply to drop such a mindset and reframe the challenge
      instead.<br>
      <br> “I see my life as many little projects. My husband is a project. My son is a project. My daughter is a project.
      My business is a project. My community commitments are projects. And each of these big projects is broken down into
      smaller bite-sized projects. By breaking down my life into little projects, I have learnt to deal with my life not
      by days, but by weeks, by months and sometimes even by years.”</p>
    <p>&nbsp;</p>
  </div>
</div>
