<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>In Memory of Baby Aiden</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersBlog">Blog</a></li>
      <li></li>
    </ol>
    <p>
      On 8 October 2014, Jeremy and Marie laid eyes on their beautiful baby boy for the first time. For a few months, life was
      blissful for the happy couple.<br> &nbsp;&nbsp; &nbsp;<br> Unfortunately, their happiness was short-lived. In
      May of 2015, Aiden was diagnosed with Kawasaki Disease (KD), a rare childhood illness affecting the blood vessels.
      Although KD can present symptoms that may look scary, most doctors will tell you that most children who are treated
      early recover from the disease without long-term effects.<br>
      <br> Experts do not know what causes Kawasaki Disease, but it is most common between one to two years of age, and less
      common in children older than age eight.<br>
      <br>
      <strong>Staying Positive</strong><br> When Jeremy and his wife first received the diagnosis, they weren’t too worried.
      “Our initial thought was that Aiden will be able to pull through this ordeal as he was a brave baby. A lot of our friends
      also told us that Kawasaki disease was pretty common as long as his heart is not affected.”<br> Initially, the treatment
      baby Aiden received was standard — he was injected with immunoglobulin (IVIG) and steroids to reduce blood vessels
      inflammation.<br> &nbsp;&nbsp; &nbsp;<br> The medical team managed to bring down Aiden’s KD symptoms and with each
      treatment, baby Aiden had a heart scan. Each time, the results were normal. Jeremy and Marie were elated, “We thought
      it was the end of the Kawasaki episode,” said Jeremy.<br>
      <br>
      <strong>Repeated Hospitalisations</strong><br> A week after Aiden was discharged, his fever returned with a vengeance.
      “The doctor attended to him and suspected that Aiden’s KD had returned. He was given a second dosage of steroids and
      luckily the fever came down. However, the heart scan showed that his arteries had dilated and now measured around 4mm,
      which is a small aneurysm,” said Jeremy. Aiden was kept for a week before the fever abated and blood tests were normal.
      Again, Aiden was discharged, and again, not for long.<br> &nbsp;&nbsp; &nbsp;<br> It was only another week before the
      fever returned. “This time it was more erratic and he whined a lot,” said Jeremy. Again, Aiden was admitted and treated.
      Although Aiden recovered from his fever eventually, the heart scan showed multiple, giant aneurysms, of 10&shy;–14mm
      each.<br>
      <br> The news was devastating. Aneurysms of this size put Aiden at high risk of either a silent death or a heart attack
      and having multiple increased the risk exponentially.<br>
      <br> Aiden was given an Enoxaparin injection daily to prevent blood clots.<br> &nbsp;&nbsp; &nbsp;<br> The experience
      was painful not just for Aiden, but for mum and dad as well; “I had to jab and force feed Aiden medicine daily, which
      was always a sad moment for us… we couldn’t bear to see him suffering.”<br>
      <br> That Fateful Day…<br> Jeremy and Marie kept as positive as possible, faithfully administering Aiden the necessary
      medications. However, on the night of 25 June, Aiden “suddenly gave a big scream”. Jeremy and Marie rushed him to the
      A&amp;E ward where a medical team suspected a heart attack and decided to transport him to the ICU. Baby Aiden suffered
      a massive heart attack on the way to the ICU and lost consciousness.<br> &nbsp;&nbsp; &nbsp;<br> “After the heart attack
      happened, our minds went blank. It felt like our lives were shattered. We had planned so much for him. By that point,
      I thought about whether to give up because I knew Aiden was suffering,” said Jeremy.<br> &nbsp;&nbsp; &nbsp;<br> The
      ICU team worked on resuscitating him for close to two and a half hours before any heart movement was detected. He was
      then placed on life support. Later, his Cardiology doctor suggested that baby Aiden undergo another procedure to buy
      him more time for recovery — the team opted to place Aiden on a Centrimag; an LVAD (Left Ventricular Assist Device).<br>
      <br> A Long Battle<br> Jeremy said it was Marie who pulled them through the ordeal even though he felt his own strength
      and determination dwindling. “My wife was strong and told me that she would not give up no matter what. That gave me
      the strength to continue what we wanted to do for him. As such, we sourced for many options… heart transplant, organ
      transplant, and getting the best doctors available. But to no avail. We were devastated. I even went to the Minister
      of Health, Mr Gan for help. I wanted his help to bring in the Berlin Heart which was never used in Singapore before.”<br>      It took a lot of work and organisation to get the Berlin Heart device into the country for Aiden. Even though consent
      was given from the authorities, the cost was a huge factor, and 2.5 million dollars was needed. Finally, when Aiden’s
      insurance agreed to cover the cost and it finally looked like everything was going smoothly, Aiden suffered a stroke,
      and brain damage was severe.<br> &nbsp;&nbsp; &nbsp;<br> Now, Aiden was no longer a candidate for the Berlin Heart.
      A heart transplant may have saved Aiden, but The Human Organs Transplant (HOTA) Act does not include anyone below the
      age of 21, so there was no possibility of baby Aiden obtaining a transplant heart from a dying patient.<br> &nbsp;&nbsp;
      &nbsp;<br> “Our country is still very conservative about organ donations,” opined Jeremy. It is already unfortunate
      for a child to die, and even worse to think about donating their organs, he said. “I spoke to my relatives and some
      of the friends and personally there was a mixed response. Some felt that the child will not be complete if the organs
      are being taken away. But organ donation can help save another child.”<br> &nbsp;&nbsp; &nbsp;<br> Jeremy and Marie
      had run out of options. It was time to prepare for the end. “We were totally helpless. We knew we would lose our child
      but we knew he was suffering from all the injections and tubes that were coming out from his body. We knew he could
      no longer recognise us or respond to us. Finally, we knew it was the end. Our whole world collapsed.”<br> &nbsp;&nbsp;
      &nbsp;<br> Aiden passed away on the 25 Nov 2015, leaving behind his parents Jeremy and Marie, who still mourn him.<br>
      <br> Doing Your Part<br> Jeremy and Marie want to raise awareness about MTERA, a voluntary opt-in organ donation scheme.
      MTERA accepts donations from children. “Through the donation, our pain and loss could be someone else’s gain and survival,”
      says Jeremy.</p>
    <p>&nbsp;</p>
  </div>
</div>
