<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>6 Discipline Mistakes Parents Make</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersBlog">Blog</a></li>
      <li></li>
    </ol>
    <p>
      Parenting is no walk in the park. There is no magic formula and no one-size-fits-all solution. Every child is different,
      every child is special, and every child needs a personalised approach when it comes to parental care. The quintessential
      parental dilemma — whether to play the good cop or bad — becomes even more pronounced when it comes to disciplining
      children.<br> &nbsp;&nbsp; &nbsp;<br> As an old saying goes, “Spare the cane, spoil the child.” However, as recent
      research on parenting and child development has shown, when it comes to disciplining children, punishments in the traditional
      sense of the term fall short of the mark.<br>
      <br> Strict punishments might temporarily deter a child from engaging in a particular activity, but it won’t teach
      them about its consequences. In some extreme cases, excessive punishment can breed a sense of inferiority and self-doubt
      in children. Therefore, parents often find it difficult to determine how best to discipline their child.<br>
      <br> Here are six common discipline mistakes that parents all over the world make and how best to avoid them.<br>
      <br>
      <strong>1. Belittle the Child</strong><br> It might be that your child has engaged in an activity that you don’t deem
      appropriate. In the heat of the moment and in an effort to explain the consequences of an action to their children,
      some parents unintentionally launch into a verbal tirade that belittles the child and questions their self-worth. Such
      incidents could leave a deep impact on children and the way they see themselves. For example, if a little girl grows
      up listening to variations of, “What were you thinking, you can’t possibly do that?!” every day, there is a chance
      that she will develop low self-esteem. It is important to choose your words wisely. “Darling, you must grow up a little
      before trying something like that” would perhaps be a better-worded phrase in this scenario.<br>
      <br>
      <strong>2. Inconsistency in Actions</strong><br> Two-year-old Lila has been asked by her mother to put her dolls into
      the toy basket every day. However, she forgets to follow through on the task and keeps her dolls lying about on the
      floor. Most days, her mother simply puts the dolls back into the toy basket herself without saying a word. But every
      now and again she ‘snaps’ and ends up yelling at Lila. Such inconsistency can confuse children. It is important to
      reprimand on every occasion of wrongdoing so that the child understands the importance of doing the right thing irrespective
      of whether the mother is watching over them or not.<br>
      <br>
      <strong>3. Using too Many Negative Words</strong><br> Even when reprimanding a child, it is important to steer clear
      of negativity. Too many “No,” Don’t” and “Shouldn’t,” can make a child wary of their parents and inculcates a “She’ll
      say no to everything” prejudice within their young minds. In such cases, the child becomes less likely to own up to
      mistakes in front of their parents. Again, it is important to choose the right words. “Do you think you should have
      left the tap running and wasted water?” will work better than “Don’t you understand that the tap should not be left
      running?”<br>
      <br>
      <strong>4. Physical Punishments</strong><br> Under most circumstances, physical punishments don’t teach children the
      consequences of their actions. In fact, it has been found that in cases where parents are prone to resorting to physical
      punishments, the children develop a tendency to hide things from their parents in fear of punishment. In other words,
      the fear of punishment does not deter them from committing mistakes, rather conditions them to hide mistakes.<br>
      <br>
      <strong>5. Using Heavily Worded Arguments</strong><br> It is important to teach children the consequences of their
      actions, but any explanations must be delivered in simple words that a two- or three-year-old can effectively grasp.
      When explaining right and wrong to children, it can be easy to get carried away and use heavily worded arguments that
      the child cannot comprehend. In such cases, despite their best intentions, parents are at best indulging in an exercise
      in futility. It is also important to understand that children need a healthy way of channelling their energy. Nit-picking
      on everything that they do and trying to explain the implications of each and every action will not help them in any
      healthy way.<br>
      <br>
      <strong>6. Succumbing to Guilt</strong><br> “There have been instances where after scolding my son, I have felt terribly
      guilty about it,” shares Garanik, “especially when he sheds tears. I would voluntarily reach for sweets to give him
      so that I could stop him from crying. Eventually, I realised that this was actually preventing my son from paying heed
      to me as he knew that if he cried, Mum would definitely give him sweets.”<br>
      <br> This feeling of guilt is not uncommon. Many parents feel guilty after yelling at their children and resort to
      different measures to channel off the guilt. However, if you want your children to learn from their mistakes, your
      actions need to be consistent.<br>
      <br> The onus of teaching discipline to young children undoubtedly lies with their parents, but so does the responsibility
      of administering effective discipline methods. Teaching children through the method of consequences isn’t an easy task,
      however. The inherent protective instincts in parents can prevent them from letting their children commit the mistakes
      that help them learn. Be patient and brave — doing so will bear fruit in the long run, because your children will start
      to believe from a young age, “My parents believe that I can distinguish the consequences of my actions and that I can
      think for myself.”</p>
    <p>&nbsp;</p>
  </div>
</div>
