<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Sometimes the Brush is Mightier</h2>
	<ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersBlog">Blog</a></li>
      <li></li>
    </ol>
    <p>

	I was at a China Arts fair several years ago and met an old, wizened Chinese brush calligraphy Master who was in town to do showcases and to write couplets and custom pieces for guests. I was newly married then, pregnant with my first child and had asked him to write our family name in varying styles for my records. My husband and I eventually converted one of his variants into our family logo which we use for family stationery.<br>
	&nbsp;&nbsp; &nbsp;<br>
	Chinese brush calligraphy is the writing of Chinese characters using a Chinese brush, black ink on specialised (usually) rice paper. It is widely practiced in Asia and is considered both a static and dynamic art form. Meaning, it is both appreciated for its final product, as well as in its creation; the writing of the characters is often considered a performance. Unlike normal Chinese penmanship, Chinese calligraphers pay closer attention to the features and implications of each character they write and consider each stroke in synergy with its meaning and form.<br>
	&nbsp;&nbsp; &nbsp;<br>
	Considered a scholarly art form, Confucius was known to consider it one of the essential art forms any self-respecting gentleman needed to possess. In the Tang, Ming and Qing dynasties, one of the criteria to enter into service of the imperial court was the ability to master brush calligraphy. Some of China’s more prominent emperors like Emperor Qianlong of the Qing dynasty and Emperor Tai Zhong of the Tang dynasty were all known for their brush calligraphy abilities. Closer to home, our late President Ong Teng Cheong was known to be well skilled in Chinese brush calligraphy and former President SR Nathan’s Chinese brush calligraphy writing of the Chinese word for love even raised $100,000 for charity!<br>
	<br>
	<strong>Benefits</strong><br>
	Its artistic value aside, Chinese brush calligraphy has long been valued for its ability to shape character and being; it develops emotional temperance, sharpens focus and inculcates better fine motor skills when practiced.<br>
	&nbsp;&nbsp; &nbsp;<br>
	For example, during the early stages of learning brush calligraphy, a lot of time is spent carefully studying each character before recreating it: how each stroke is executed, its length, its thickness, and overall form. That requires keen observation and the ability to pay attention to minute details. Experienced calligraphers will also share that it is virtually impossible to write calligraphy well whilst being angry or annoyed. The characters are best written when the calligrapher is calm, even tempered and in a clear frame of mind.<br>
	&nbsp;&nbsp; &nbsp;<br>
	Many pre-schools and primary schools have also incorporated Chinese brush calligraphy into their curriculum or offer it as a recommended enrichment class. While little ones usually struggle a little at the beginning, most gain the fine motor competencies quickly and have better hand dexterity and handwriting, something that kids growing up in this computer-technology laden age need since many are more adept at typing than writing.<br>
	<br>
	Recent research has discovered that Chinese brush calligraphy training has not just a positive impact on the cognitive enhancement in kids, it can help them with attention and hyperactivity issues too. &nbsp;<br>
	<br>
	<strong>The Experience</strong><br>
	I sent my five-year-old son and his nine-year-old friend for a trial Chinese Calligraphy class at InnoWorld Fine Arts Center, a leading programme that specialises in Chinese music and arts. The school has a stable of six core programme offerings: drawing, sketching, oil painting, Chinese calligraphy, Chinese Painting and Chinese Music (Guzhen, Erhu, Pipa). Their Chinese Art division is headed by Wang Shilan, herself a famous Chinese painting artist, who has more than 30 years experience in Chinese painting and calligraphy.<br>
	&nbsp;&nbsp; &nbsp;<br>
	We went for the trial class at their Serangoon branch, taught by Teacher Tien, herself a skilled calligrapher and artist. She started the class by showing the kids how to set up their workstation: felt table cloth, how to place the paper and prepare the ink. Then, she showed them how to handle the brush and ink. Unlike a pencil or pen, or indeed, a typical art class brush; a Chinese calligraphy brush requires a very precise hold. The ink, too, requires care since a brush that is too wet would make for ink blotches on calligraphy rice paper.<br>
	&nbsp;&nbsp; &nbsp;<br>
	Both of them were taught to write the most basic Chinese word component, a single horizontal line written from left to right. They were shown, guided then left to write the Chinese characters for “one,” “two,” and “three.” After they showed some competency with holding the brush, they were taught how to write three other words; the Chinese characters for “Up”, “Earth” and “Person.” Even though they only wrote six characters (about five times each word), it took them close to an hour of instruction, supervision by the teacher at many junctures and deep concentration by the kids. In fact, they both ended up breaking into a sweat despite being in an air-conditioned room!<br>
	<br>
	<strong>Recommendations</strong><br>
	InnoWorld Fine Arts has Chinese Calligraphy for both children and adults. The children’s classes start for kids from five years and up, grouped by age and writing ability. While the class is conducted mainly in Mandarin, the school has experience working with non-Chinese students and most find it fairly easy to fit in. Interested parties can call to make an appointment for a free 30 to 60-minute trial class before deciding. Classes start at $40 for a 90-minute session with a one-time $30 registration fee. There is also a $30 term material fee, payable at the commencement of each term.<br>
	<br>
	<strong>Contact</strong><br>
	Tel:&nbsp;&nbsp; &nbsp;(+65) 6348 2688 or (+65) 9371 8888<br>
	Email: &nbsp;&nbsp; &nbsp;
 <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy705 = 'C&#111;nt&#97;ct' + '&#64;';
 addy705 = addy705 + '&#105;nn&#111;w&#111;rld' + '&#46;' + 'c&#111;m' + '&#46;' + 'sg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy705 + '\'>');
 document.write(addy705);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:Contact@innoworld.com.sg">Contact@innoworld.com.sg</a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></p>
    <p>&nbsp;</p>
  </div>
</div>
