<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Bleeding During Pregnancy</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersBlog">Blog</a></li>
      <li></li>
    </ol>
    <p>
      It is terrifying and unnerving to experience any form of bleeding when you are expecting a baby. It feels worse when you
      turn to Google and surf pregnancy forums reading comments from other women feeling just as paranoid as you. It is best
      to learn about the causes of bleeding during pregnancy and what you should do if it happens to you.<br>
      <br> Some Causes of Innocuous Spotting<br> ✦&nbsp;&nbsp; &nbsp;Implantation Bleeding<br> ✦&nbsp;&nbsp; &nbsp;Sexual
      Intercourse<br> ✦&nbsp;&nbsp; &nbsp;Exercise<br> ✦&nbsp;&nbsp; &nbsp;Internal Examination by Obstetrician<br> ✦&nbsp;&nbsp;
      &nbsp;Vaginal Infections<br> ✦&nbsp;&nbsp; &nbsp;Placenta Previa<br> ✦&nbsp;&nbsp; &nbsp;Normal Start to Labour (After
      week 37)<br>
      <br>
      <strong>When Bleeding Can Be a Sign of a Serious Condition</strong><br>
      <u>Abnormal Pregnancy:</u><br> Ectopic Pregnancy – When a fertilised egg implants somewhere other than the uterus, usually
      in one of the fallopian tubes. The pregnancy cannot progress normally and can be life-threatening to the mother if
      left untreated.<br> &nbsp;&nbsp; &nbsp;<br> Symptoms of an ectopic pregnancy develop in the fourth to the twelfth week
      of pregnancy. Vaginal bleeding due to an ectopic pregnancy often starts and stops, and may be watery and dark brown
      in colour. It is often accompanied with a low-down tummy pain on one side and shoulder tip pain.<br>
      <br> Chemical Pregnancy<br> When a fertilised egg does not complete its implantation, resulting in bleeding one week
      after your regular period is due. If you have three or more chemical pregnancies in a row, your doctor may want to
      run tests to rule out any medical problems (e.g. clotting disorder or thyroid condition).<br>
      <br> Molar Pregnancy<br> When a fertilised egg develops into a mole instead of into a normal embryo. Bleeding might
      be bright red or a brownish discharge, continuous or intermittent, light or heavy. The bleeding could start as early
      as the sixth week or as late as the twelfth week. Other symptoms include abdominal swelling because the uterus is growing
      more rapidly than usual.<br> &nbsp;&nbsp; &nbsp;<br> A Dilation and Curettage (D&amp;C) will be performed to remove
      the abnormal tissue. Your practitioner will continue to monitor if any residual abnormal cells have spread to other
      parts of your body and if the abnormal tissue is growing back, through chest X-rays and your Human Chorionic Gonadotropin
      (hCG) levels. In view of the need to monitor hCG levels, you need to wait for at least a year before trying to conceive
      again.<br>
      <br>
      <u>Subchorionic Hematoma:</u><br> The accumulation of blood within the folds of the chorion or between the uterus and
      the placenta. The majority of such cases resolve by themselves. However, in rare cases, the placenta separates from
      the uterine wall and may cause miscarriage and preterm labour.<br>
      <br>
      <u>Miscarriage:</u><br> Spontaneous loss of pregnancy in the first 20 weeks. Vaginal bleeding is often accompanied by
      cramping and abdominal pain.<br>
      <br>
      <u>Pre-term Labour:</u><br> When labour starts before 37 weeks of pregnancy. Vaginal bleeding may be accompanied by contractions,
      diarrhoea, pelvic pressure and/or back pain. The earlier premature birth happens, the greater the health risks to the
      baby.<br>
      <br>
      <strong>If It Happens To You...</strong><br> Provide the following information to your doctor for him to be able to
      advise you on whether it is serious enough to warrant a trip down to the clinic or hospital:<br> ✦&nbsp;&nbsp; &nbsp;Colour
      of blood. (Pink, brownish or bright red)<br> ✦&nbsp;&nbsp; &nbsp;Are there clots?<br> ✦&nbsp;&nbsp; &nbsp;Onset. (Date
      and time)<br> ✦&nbsp;&nbsp; &nbsp;What were you doing when it started? (Sexual intercourse, vaginal examination or
      exercise)<br> ✦&nbsp;&nbsp; &nbsp;Amount. (Size of a coin or soaking through a sanitary pad)<br> ✦&nbsp;&nbsp; &nbsp;Are
      you in pain?<br> ✦&nbsp;&nbsp; &nbsp;Is this a recurrence?<br>
      <br> Though the vast majority of spotting is harmless, any bleeding during pregnancy warrants your immediate attention.</p>
    <p>&nbsp;</p>
  </div>
</div>
