<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Breakfast Needs</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li><a ui-sref="newmothersBlog">Blog</a></li>
      <li></li>
    </ol>
    <p>
      It was in 1826 that French Physician and renowned father of the Paleo diet, Anthelme Brillat-Savarin wrote: Dis-moi ce que
      tu manges, je te dirai ce que tu es. “Tell me what you eat, and I will tell you what you are.” Indeed, the food we
      feed our children, especially for breakfast, can be either the safest and most powerful form of nourishment or the
      slowest form of poison. If you haven’t been doing so, it is high time to take charge of what your kids have for breakfast!<br>
      <br>
      <strong>Avoid These Breakfast Foods at All Costs</strong><br> It may be true that any breakfast is better than no breakfast.
      Nonetheless, try to discard these foods from your kids’ breakfast menus because the harm they do outweigh the good:<br>
      <br>
      <u>Processed meat</u><br> It is common to have bacon, hot dogs and ham on the breakfast plate. However, these processed
      meats are high in sodium and preservatives. They are ranked alongside smoking as a major cause of cancer according
      to the World Health Organisation (WHO).<br>
      <br>
      <u>Sugared cereal</u><br> You may be using sugared cereals to attract your kids to the breakfast table but do consider
      the amount of sugar in these breakfast favourites. They are among the least healthful breakfast options because some
      of these sugared cereals contain as high as 50 per cent sugar and have no fibre at all.<br>
      <br> If sugared cereal is served to your children for breakfast, it takes up their sugar allocation for the entire
      day.<br>
      <br>
      <u>Artificial food colouring and dyes</u><br> Colourful foods such as rainbow rice doughnuts or rainbow cakes may whet
      a child’s appetite for breakfast but some studies are suggesting an association between food dyes and hyperactive behaviours
      in children. &nbsp;<br>
      <br>
      <strong>Be Sure to Include These Breakfast Foods</strong><br> Fuel your children for the day with a healthy breakfast
      by choosing and including these quality foods in your &nbsp;&nbsp; &nbsp;kids’ breakfast menus:<br>
      <br>
      <u>Foods that are as close to their natural state as possible.</u> Choose whole grain bread over refined and processed
      white bread. Include fresh fruits instead of dried or canned fruits in sugar syrup.<br>
      <br>
      <u>Wholefoods.</u> Buy foods that only have one ingredient and are natural. If you pick something up in the supermarket
      and there are more than two or three things listed as the ingredients that you cannot even pronounce or have never
      heard of, chances are your kids should not be eating it.<br>
      <br>
      <u>Nutrition-packed foods and drinks.</u> Opt for nutrient-dense foods like yoghurt, avocado, nuts, seeds, and eggs that
      are high in good fats, protein and calcium which are essential for kids’ growth and development. You might even want
      to consider adding in a pack or cup of milk to the breakfast tray.<br>
      <br> Home-cooked foods. Consider preparing breakfast at home instead of buying food from the bakery or confectionery.
      In this way, you have control over the amount of cholesterol, saturated fat, salt, and sugar that goes into the breakfast.<br>
      <br> You can omit the shortening and palm oil, and reduce the amount of sugar, sodium and butter in your recipes. You
      can also replace unhealthy ingredients with healthier alternatives such as nut butter and include superfoods &nbsp;&nbsp;
      &nbsp;like chia seeds.<br>
      <br>
      <strong>Breakfast Kitchen Buddies</strong><br> You may wish to invest in some kitchen appliances and accessories to
      help you prepare breakfast (as efficiently and effortlessly as possible!) for your kids:<br>
      <br>
      <u>A cold-press juicer</u><br> It is excellent in retaining vitamins and minerals in fruits and vegetables vis-à-vis traditional
      centrifugal juice extractors. The problem with centrifugal juicers is that the fast-spinning metal blade generates
      heat, which destroys some of the enzymes in the fruits and vegetables you are juicing. The heat also oxidises those
      nutrients, rendering less nutritious juice than a cold-press juicer. A cold-press juicer can also help in extracting
      natural food colours (think beetroot, cantaloupe, and mango) to help entice children to the breakfast table.<br>
      <br>
      <u>Blender or food processor</u><br> It helps break down chunky food pieces to a pleasant and acceptable texture for children.
      It is also an excellent “partner-in-crime” to help sneak vegetables into children’s breakfast.<br>
      <br>
      <strong><u>Yoghurt maker</u></strong><br> It is an inexpensive and easy to use appliance. It allows you to make yoghurt
      from home which means significantly less sugar than the ones purchased commercially.<br>
      <br>
      <u>Bread machine</u><br> It saves you from the tiring effort of kneading dough. The timer setting is wonderful as it lets
      you and the kids wake up to the appetising and pleasing aroma of freshly-baked bread.<br>
      <br>
      <u>Mason jars</u><br> Beautiful containers to layer parfaits of yoghurt or overnight oats with freshly chopped fruits.
      &nbsp;<br> &nbsp;&nbsp; &nbsp;<br> You may inevitably find yourself facing some resistance from your kids as you change
      the breakfast menu to a healthier one. Take heart, Dr Kevin Leman reminds parents never to forget about saying “No”
      to their children, or not to be afraid to do so. When I reject my preschoolers’ requests for unhealthy foods, they
      often whine, “Why?” My reply would be, “If it is good for you, I will give you plenty of it.” I will go on to elaborate
      how I want them to have a lean and healthy body. Somehow, they understand me and begin to enjoy whatever healthier
      options I am offering to them!</p>
    <p>&nbsp;</p>
  </div>
</div>
