<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marketing" style="margin-top: 0;">
    <h2>Blog</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li>Blog</li>
    </ol>
    <h4>10 Pregnancy Exercise Guidelines</h4>
    <p>
      Whether you have been a fitness fanatic pre-pregnancy or are looking to start an exercise regime only now when you are pregnant,
      do bear these pregnancy exercises guidelines in mind for safety. <a ui-sref="newmothersBlogPost1">Read More</a>
    </p>
    <h4>6 Discipline Mistakes Parents Make</h4>
    <p>
      Discipline is not just about punishment, but also about teaching your child to learn from experience. <a ui-sref="newmothersBlogPost2">Read More</a>
    </p>
    <h4>Breakfast Needs</h4>
    <p>
      Breakfast is the most important meal of the day but while it is essential for kids to have breakfast every day, what they
      eat in the morning is crucial too. <a ui-sref="newmothersBlogPost3">Read More</a>
    </p>
    <h4>In Memory of Baby Aiden</h4>
    <p>
      Jeremy and Marie will always remember Baby Aiden for the love and strength that he taught them. <a ui-sref="newmothersBlogPost4">Read More</a>
    </p>
    <h4>Bleeding During Pregnancy</h4>
    <p>
      It is usually not a cause for concern but how do you know when you should see your gynaecologist? <a ui-sref="newmothersBlogPost5">Read More</a>
    </p>
    <h4>Family Actually</h4>
    <p>
      Entrepreneur and mother of two, Violet Lim has found the solution to work-life balance: marry the two. <a ui-sref="newmothersBlogPost6">Read More</a>
    </p>
    <h4>Sometimes the Brush is Mightier</h4>
    <p>
      Chinese brush calligraphy is becoming more and more popular these days with many schools incorporating it into their curriculum offerings since it has been found to have benefits for students not just in shaping their handwriting, but to their character development as well, with an increased appreciation for the Chinese language and the arts. <a ui-sref="newmothersBlogPost7">Read More</a>
    </p>
    <h4>How to Handle Pets when Pregnant</h4>
    <p>
      It’s time to take some precaution when handling your pets now that you’re pregnant. Here’s how. <a ui-sref="newmothersBlogPost8">Read More</a>
    </p>
    <p>&nbsp;</p>
  </div>
</div>
