<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Useful Sites</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="newmothers">New Mothers</a></li>
      <li>Useful Sites</li>
    </ol>
    <dl>
      <dt>Motherhood Online - The No. 1 Choice For Mothers</dt>
      <dd>Motherhood Magazine is Singapore’s No. 1 Choice for Mothers! We are a valuable and trusted information resource for
        parents with children from 0 to 8. <a href="www.motherhood.com.sg" target="_blank">Click here</a><br><br></dd>
      <dt>SG MotherHood - Portal News</dt>
      <dd>Portal News : A place for all mother to discuss/share about parenting issues.<a href="mummy.sgportal.net" target="_blank">Click here</a></dd>
    </dl>
    <p>&nbsp;</p>
  </div>
</div>
