<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Self Collection</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="faq">Faq</a></li>
      <li></li>
    </ol>
    <p>Self collection can be arranged via support desk when the order is made. Please view our product catelog and contact
      us for payment confirmation and collection schedules.</p>
    <p>&nbsp;</p>
  </div>
</div>
