<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Delivery Tracking</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="faq">Faq</a></li>
      <li></li>
    </ol>
    <p>Delivery will be done via singpost. And we will provide you with the tracking code once the shipment has been collected.
      We will follow up with the tracking details once the order has been made by your order email.</p>
    <p>&nbsp;</p>
  </div>
</div>
