<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Party Planning</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="faq">Faq</a></li>
      <li></li>
    </ol>
    <p>We organise birthday parties for your babies 1st year old.</p>
    <p>Everything from locations, food, games and decor. We manage it all. <a ui-sref="contact" class="">Contact us</a>, and your representative will get back to your with our quote.</a></p>
    <p>&nbsp;</p>
  </div>
</div>
