<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Terms and Conditions</h2>
    <p>
	<strong>What information do we collect?</strong><br>
	<br>
	We collect information from you when you register on our site, subscribe to our newsletter, respond to a survey or fill out a form.<br>
	<br>
	When registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address or phone number. You may, however, visit our site anonymously.<br>
	<br>
	Google, as a third party vendor, uses cookies to serve ads on your site. Google`s use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy..</p>
    <p>
      &nbsp;</p>
  </div>
</div>
