<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Baby Bottoms</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="products">Products</a></li>
      <li>Baby Bottoms</li>
    </ol>
    <p>Here at baby pants we are all about babies and bedwetters. We rush through life pushed to grow up, to achieve, to reach
      the next level. During potty training some are lost off the conveyor belt. Later in life many of us regress, losing
      our hard earned potty training. We have new labels and new products for this regression, all of them sterile and clinical
      so that no one will feel like they fell off the conveyor belt. Well here at Baby Pants we celebrate our babies and
      all things baby.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4496.JPG" class="img-responsive img-center">
    </a>
    <p>&nbsp;</p>
  </div>
</div>
