<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Pamper Cakes</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="products">Products</a></li>
      <li>Pamper Cakes</li>
    </ol>
    <p>A nappy cake is a fabulous present for the new arrival –as a table centre piece for a baby shower or as maternity leave. They consists of tiers of nappies presented in the shape of a cake and filled with beautiful presents for the new baby, our cakes usually remember a little something for mum as well.</p>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="images/IMG_4451.mp4"></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4450.JPG" class="img-responsive img-center">
    </a>
    <p>&nbsp;</p>
  </div>
</div>