<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Baby Napkins</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="products">Products</a></li>
      <li>Baby Napkins</li>
    </ol>
    <p>Goo-goo ga-ga for galas? Whatever the theme may be for the baby shower you are throwing, you'll want to have these personalized
      baby shower napkins on hand. Customizable down to the last detail, these shower decorations can be personalized in
      any way you can think up! Choose from several napkin colors, icons and a nearly infinite array of imprint colors -your
      imagination is the limit! You may even select the design and text placement from eight layout options. Each practical
      shower napkin is made of quality 3-ply paper and is available in beverage, luncheon, dinner and guest towel sizes.
      To provide you with the most complete selection of colors, napkin sizes may vary up to 0.5", depending on the color
      selected.</p>
      <EMBED SRC="images/vrml/baby_bottle.wrl"
TYPE="model/vrml"
WIDTH="439"
HEIGHT="275"
VRML_SPLASHSCREEN="FALSE"
VRML_DASHBOARD="FALSE"
VRML_BACKGROUND_COLOR="#CDCDCD"
CONTEXTMENU="TRUE">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4491.JPG" class="img-responsive img-center">
    </a>
    <p>&nbsp;</p>
  </div>
</div>
