<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Baby Shoes</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="products">Products</a></li>
      <li>Baby Shoes</li>
    </ol>
    <p>These Baby Girls' Patent Mary Jane Shoes from Just One You Made by Carter's are just the shoes your little lady needs.
      Perfect for special occasions, these shoes are comfortable and cute.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4490.JPG" class="img-responsive img-center">
    </a>
    <p>&nbsp;</p>
  </div>
</div>
