<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Shower Essentials</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="products">Products</a></li>
      <li>Shower Essentials</li>
    </ol>
    <p>The toughest thing about getting ready to go away to college is remembering all of the little things you need to bring.
      Packing is really overwhelming, especially when you want to make sure that your dorm room is fully stocked. When focusing
      on the bigger things (like clothes, bedding, and books), it's easy to forget about the little things you'll need too,
      like college shower caddy essentials. Your shower caddy should, ideally, hold all of your bathroom necessities, and
      be easy to carry around so you're never at a loss.</p>
      <EMBED SRC="images/vrml/baby_cap_1.wrl"
TYPE="model/vrml"
WIDTH="439"
HEIGHT="275"
VRML_SPLASHSCREEN="FALSE"
VRML_DASHBOARD="FALSE"
VRML_BACKGROUND_COLOR="#CDCDCD"
CONTEXTMENU="TRUE">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4494.JPG" class="img-responsive img-center">
    </a>
    <p>&nbsp;</p>
  </div>
  <div class="col-xs-12 col-md-6 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4495.JPG" class="img-responsive img-center">
    </a>
    <p>&nbsp;</p>
  </div>
</div>
