<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Baby Stickers</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="products">Products</a></li>
      <li>Baby Stickers</li>
    </ol>
    <p>Baby room Nursery Wall Art Decals Removable Wallpaper Kids Bedroom Wall Stickers</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4493.JPG" class="img-responsive img-center">
    </a>
  </div>
  <div class="col-xs-12 col-md-4 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4501.JPG" class="img-responsive img-center">
    </a>
  </div>
  <div class="col-xs-12 col-md-4 top-padding-12">
    <a href="#" class="thumbnail">
      <img src="images/IMG_4500.JPG" class="img-responsive img-center">
    </a>
  </div>
</div>
<p>&nbsp;</p>