<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-padding-12">
    <h2>About Us</h2>
    <p>A Singapore Parenting Directory for the Singapore Parents. This is a place for all mothers and mothers-to-be to share
      and celebrate the miracles of life, the joy and innocence of our babies and children.In the coming months, we'll be
      adding more features and articles. So keep checking back with us.</p>
    <p>We also have many products that will be sale and for your parental needs.</p>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ux-ioXsUPSk?rel=0"></iframe>
    </div>
    <br>
  </div>
</div>
