<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Events</h2>
    <p>Please await this page. We will be posting new events.</p>
    <p>Likewise if you need to be updated on current events, place <a ui-sref="contact" class="">contact us</a> and we will
      include you into our mailing lists.
      <p>&nbsp;</p>
  </div>
</div>
