<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>FAQ</h2>
    <p></p>
    <div class="panel panel-default">
      <div class="panel-body">
        Self Collection <a ui-sref="faqCollection" class="">click here</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Delivery Tracking <a ui-sref="faqDelivery" class="">click here</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Party Planning <a ui-sref="faqParty" class="">click here</a>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</div>
