<div class="jumbotron top-margin-15">
  <h1>MotherCare Online.</h1>
  <p class="lead">
    Always a pleasure assisting you in your new journey.
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="#/">Know More</a></p>
</div>
<div class="row marketing">
  <h4>10 Pregnancy Exercise Guidelines</h4>
  <p>
    Whether you have been a fitness fanatic pre-pregnancy or are looking to start an exercise regime only now when you are pregnant,
    do bear these pregnancy exercises guidelines in mind for safety. <a ui-sref="newmothersBlogPost1">Read More</a>
  </p>
  <h4>6 Discipline Mistakes Parents Make</h4>
  <p>
    Discipline is not just about punishment, but also about teaching your child to learn from experience. <a ui-sref="newmothersBlogPost2">Read More</a>
  </p>
  <h4>Breakfast Needs</h4>
  <p>
    Breakfast is the most important meal of the day but while it is essential for kids to have breakfast every day, what they
    eat in the morning is crucial too. <a ui-sref="newmothersBlogPost3">Read More</a>
  </p>
</div>
