<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>New Mothers</h2>
    <p></p>
    <div class="panel panel-default">
      <div class="panel-heading">Baby Shower Planner</div>
      <div class="panel-body">
        The role of baby shower hostess has evolved and can include pretty much anyone in the expectant mom's life, including friends,
        relatives, and even spouses. But there are party-planning basics to ensure that the celebration is a success. We
        checked with event planners for a step-by-step guide to hosting a fun and festive party.
      </div>
      <div class="panel-footer"><a ui-sref="newmothersPlanner" class="btn btn-primary text-right">Know More</a></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Useful Sites</div>
      <div class="panel-body">
        Get all the useful new mother links here. Do bookmark them. :)
      </div>
      <div class="panel-footer"><a ui-sref="newmothersUsefulsites" class="btn btn-primary text-right">Know More</a></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Blog</div>
      <div class="panel-body">
        Get your glasses on, These are written by mothers themselves to share their experience and knowledge.
      </div>
      <div class="panel-footer"><a ui-sref="newmothersBlog" class="btn btn-primary text-right">Know More</a></div>
    </div>
    <p>&nbsp;</p>
  </div>
</div>
