<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Products</h2>
    <p>Please <a ui-sref="contact" class="">contact us</a> for more information on the items listed below</p>
    <p></p>
    <div class="panel panel-default">
      <div class="panel-heading">Baby Bottoms</div>
      <div class="panel-body">
        Here at baby pants we are all about babies and bedwetters. We rush through life pushed to grow up, to achieve, to reach the
        next level. During potty training some are lost off the conveyor belt. Later in life many of us regress, losing our
        hard earned potty training.
      </div>
      <div class="panel-footer"><a ui-sref="productsBottoms" class="btn btn-primary text-right">Shop</a></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Pamper Cakes</div>
      <div class="panel-body">
        A nappy cake is a fabulous present for the new arrival –as a table centre piece for a baby shower or as maternity leave.
      </div>
      <div class="panel-footer"><a ui-sref="productsCakes" class="btn btn-primary text-right">Shop</a></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Baby Napkins</div>
      <div class="panel-body">
        Easy Open Sides · Hypoallergenic · Breathable · Wetness Indicator · 2X Faster Absorption
      </div>
      <div class="panel-footer"><a ui-sref="productsNapkin" class="btn btn-primary text-right">Shop</a></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Baby Shoes</div>
      <div class="panel-body">
        These Baby Girls' Patent Mary Jane Shoes from Just One You Made by Carter's are just the shoes your little lady needs. Perfect
        for special occasions, these shoes are comfortable and cute.
      </div>
      <div class="panel-footer"><a ui-sref="productsShoes" class="btn btn-primary text-right">Shop</a></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Shower Essentials</div>
      <div class="panel-body">
        The toughest thing about getting ready to go away to college is remembering all of the little things you need to bring. Packing
        is really overwhelming, especially when you want to make sure that your dorm room is fully stocked.
      </div>
      <div class="panel-footer"><a ui-sref="productsShower" class="btn btn-primary text-right">Shop</a></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Baby Stickers</div>
      <div class="panel-body">
        Baby room Nursery Wall Art Decals Removable Wallpaper Kids Bedroom Wall Stickers
      </div>
      <div class="panel-footer"><a ui-sref="productsStickers" class="btn btn-primary text-right">Shop</a></div>
    </div>
  </div>
</div>
